* text=auto !eol
build/README.txt svneol=native#text/plain
build/icu4j28.api.gz -text svneol=unset#application/gzip
build/icu4j30.api.gz -text svneol=unset#application/gzip
build/icu4j32.api.gz -text svneol=unset#application/gzip
build/icu4j34.api.gz -text svneol=unset#application/gzip
build/icu4j341.api.gz -text svneol=unset#application/gzip
build/icu4j342.api.gz -text svneol=unset#application/gzip
build/icu4j343.api.gz -text svneol=unset#application/gzip
build/icu4j36.api.gz -text
build/icu4j38.api.gz -text
build/icu4j381.api.gz -text
build/icu4j400.api.gz -text
build/icu4j401.api.gz -text
build/manifest.stub -text
misc/manifest.stub -text
misc/src/com/ibm/icu/dev/tool/compression/package.html svneol=native#text/html
misc/src/com/ibm/icu/dev/tool/rbbi/readme.html svneol=native#text/html
misc/src/com/ibm/icu/dev/tool/translit/indicExceptions.txt svneol=native#text/plain
misc/src/com/ibm/icu/dev/tool/translit/rbtTemplate.txt svneol=native#text/plain
